@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');

body {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
}