@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-size: 1rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ebecec;
}

h1, h2, h3, h4, h5, h6, a, p, button {
  color: #404040;
  font-family: "Montserrat";
  font-weight: 300;
}
